name: Validate Webhook Templates

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  validate:
    name: Validate Webhook Templates
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '~1.20'
    - name: Build validate tool
      run: |
        cd schema
        go build -o ../bin/validate ./cmd/validate.go
    - name: Validate webhook templates
      run: ./bin/validate
